body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0e6d2; /* Color de fondo pastel */
}

h2, h3, h4, h5, h6 {
    font-family: 'Pacifico', cursive; /* Tipo de letra para títulos */
    color: #833d00; /* Color de los títulos */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Efecto de sombra en los títulos */
    font-weight: bold; /* Texto en negrita */
    font-size: 24px;
    text-align: center;
}

p, ul, ol {
    font-family: 'Pacifico', cursive; /* Tipo de letra para contenido */
    color: #68532d; /* Color del contenido */
    font-size: 22px;
    text-align: center;
}

header {
    background-color: #ff9f4d; /* Color de fondo del encabezado */
    color: rgb(126, 35, 35);
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    align-items: center; /* Centra horizontalmente los elementos */
    padding: 20px;
    text-align: center; /* Alinea el texto al centro */
    border-radius: 20px; /* Borde redondo */
}

header h1 {
    margin: 0;
    font-size: 50px; /* Tamaño de fuente más grande */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras */
    font-family: 'Pacifico', cursive; /* Tipo de letra para títulos */
    color: #ffffff; /* Color de los títulos */
    text-shadow: 2px 2px 4px rgba(255, 230, 0, 0.5); /* Efecto de sombra en los títulos */
    font-weight: bold; /* Texto en negrita */
}

#searchCriteria {
    margin-bottom: 10px;
    border-radius: 20px; /* Borde redondo */
    padding: 8px 12px; /* Espaciado interno */
    border: 2px solid #ff9f4d; /* Borde sólido */
    background-color: #fff8e6; /* Color de fondo pastel */
}

#searchInput {
    margin-bottom: 10px;
    border-radius: 20px; /* Borde redondo */
    padding: 8px 12px; /* Espaciado interno */
    border: 2px solid #ff9f4d; /* Borde sólido */
    background-color: #fff8e6; /* Color de fondo pastel */
}

#searchButton {
    background-color: #ff9f4d; /* Color de fondo del botón de búsqueda */
    border: none;
    cursor: pointer;
}

#searchButton img {
    width: 32px;
    height: 32px;
}

#resultsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.recipe-card {
    width: 300px;
    height: 400px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px; /* Borde redondo */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;
}

.recipe-card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.recipe-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
}

.recipe-card:hover img {
    transform: scale(1.05);
}

.recipe-card p {
    margin: 10px;
}

#recipeDetails {
    display: none;
    margin: 20px;
    transition: opacity 0.5s ease-in-out;
}

#recipeDetails h2 {
    margin-top: 0;
}

#recipeDetails img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
    transition: transform 0.2s ease-in-out;
}

#recipeDetails:hover img {
    transform: scale(1.05);
}

#recipeDetails ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#recipeDetails li {
    margin-bottom: 10px;
}

#newSearchButton {
    background-color: #ff9f4d; /* Color de fondo del botón de búsqueda */
    border: none; /* Quitamos el borde para darle un aspecto más limpio */
    cursor: pointer;
    padding: 8px 12px; /* Espaciado interno */
    border-radius: 20px; /* Borde redondo */
    color: #ffffff; /* Color de los títulos */
    text-shadow: 2px 2px 4px rgba(255, 230, 0, 0.5); /* Efecto de sombra en los títulos */
    font-family: 'Pacifico', cursive; /* Tipo de letra para títulos */
    font-size: 24px;
    text-align: center;
    display: show; /* Ocultamos el botón inicialmente */
    position: relative; /* Establecemos la posición relativa para poder agregar efectos */
    overflow: hidden; /* Ocultamos cualquier contenido que se desborde del botón */
    transition: transform 0.3s ease-out; /* Agregamos una transición suave al hacer clic en el botón */
  }
  
  #newSearchButton:before {
    content: ""; /* Agregamos un pseudo-elemento antes del texto del botón */
    position: absolute; /* Establecemos la posición absoluta para poder moverlo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 159, 77, 0.2); /* Color de fondo semi-transparente */
    transform: scaleX(0); /* Inicialmente, el pseudo-elemento está oculto */
    transition: transform 0.3s ease-out; /* Agregamos una transición suave al hacer clic en el botón */
  }
  
  #newSearchButton:hover:before {
    transform: scaleX(1); /* Al pasar el mouse sobre el botón, el pseudo-elemento se expande horizontalmente */
  }
  
  #newSearchButton:active {
    transform: translateY(4px); /* Al hacer clic en el botón, se mueve ligeramente hacia abajo */
  }
  
  #newSearchButton:active:before {
    transform: scaleX(0); /* Al hacer clic en el botón, el pseudo-elemento se contrae horizontalmente */
  }

  footer {
    background-color: #ff9f4d;
    color: #ffffff70;
    padding: 20px;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-text {
    margin: 5px 0;
  }
  